/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/public/ckeditor/
/public/jquery-ui/
/public/elfinder/

.env
.env.*
!.env.example
.phpunit.result.cache

# Laravel Logs, Cache, and Keys
/storage/*.key
/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/testing/*
/storage/framework/views/*.php

# SISTEMAS INTERNOS / IDEs / EDITORES

/.idea/
/.vscode/
/.fleet/
/*.code-workspace

# DOCKER (arquivos locais, não versionar)

docker-compose.dev.yml
Dockerfile.dev
*.local.yml
docker/
docker-local/


# ARQUIVOS GERADOS / TEMPORÁRIOS

/uploads
*.sql
*.dump
*.tar.gz
*.zip
*.bak
*.old
*.tmp
*.log
npm-debug.log
yarn-error.log
auth.json
composer.phar
